* {
	box-sizing: border-box;
}

/***** START HEADER ******/
#header-nav { /* all navbar */

}

#logo-navbar{
	/*background-image: url("images/etumade_logo.png");
	background-size: 50px;*/
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand h1 {
  margin: 0px;
  padding-top: 5px;
  padding-left: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus { /* no line under the title */
  	text-decoration: none;
}

#nav-list li a{
  font-size: 2rem;
  color: #337ab7;
}

#nav-list li a:hover{
	color: #143c8c;
	background-color: #c2bebe;
}

#login li{
	padding: 5px;
}

#login button{
	background-color: #DDDDDD;
  border-color: #DDDDDD;
  border-radius: 5px;
	font-size: 1.7rem;
  color: #606060;
	padding-left: 30px;
	padding-right: 30px;
}

#login button:hover{
	box-shadow: 2px 2px 2px 2px #c2bebe;
}
