<link rel="stylesheet" href="css/home.css">


<div id="right-spans" class="pull-right visible-lg visible-md">
  <p><span>CREATION</span></p>
  <p><span>ETUDIANTS</span></p>
  <p><span>PARTAGE</span></p>
  <p><span>COMPETENCES</span></p>
  <p><span>ENTRAIDE</span></p>
  <p><span>INNOVATION</span></p>
  <p><span>BORDEAUX</span></p>
</div>

<div class="">
  <div class="text-center">
    <div class="">
      <img src="images/etumade_logo.png" alt="Etu'Made">
    </div>
    <div id="button-home">
      <div class="button-div"><button id="project-btn-add" type="button" name="add-project">AJOUTER UN PROJET</button></div>
      <div class="button-div"><button id="team-button" type="button" name="add-project">REJOINDRE UNE EQUIPE</button></div>
    </div>
  </div>
</div>
